.container {
  padding: 20px;

  box-sizing: border-box;

  height: 60px;

  width: 100%;
  z-index: 1;
}
.wrapper {
  position: relative;
  /* background-color: green; */
  display: flex;
  justify-content: space-between;
}
.logo h {
  flex: 1;
}
.logo h1 {
  font-size: 20px;
  font-weight: 500;
}

.linkList {
  flex: 6;
  display: flex;
  justify-content: center;
}

.linkList a {
  margin: 0 10px; /* Add margin between icons */
  font-size: 15px;
  cursor: pointer;
  padding: 0, 20px;
  flex-wrap: wrap;
  font-weight: 500;
}
.left {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.left button {
  margin: 0 10px; /* Add margin between icons */
  font-size: 18px;
  cursor: pointer;
}
.mySvg {
  width: 1.5rem;
  height: 1.5rem;
  /* fill: red !important; */
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(291deg)
    brightness(102%) contrast(103%);
  /* background-color: aqua; */
}
.links {
  color: #fff;
}
.menu {
  display: none;
}
.mobileContainer {
  display: none;
}
.left svg {
  font-weight: 500;
}

.headerTitleBlack {
  color: black;
}

.headerTransparent {
  background-color: none; /* Add your transparent background styles */
  color: white; /* Add text color for transparent background */
  position: absolute; /* Position for transparent background */
}

.headerWhite {
  background-color: white; /* Add your white background styles */
  color: black; /* Add text color for white background */
  position: relative; /* Position for white background */
}
@media screen and (max-width: 770px) {
  .mobileContainer {
    display: block;
    transition: width 1.3s ease-in-out;
    padding-left: 32px;
    padding-right: 32px;
  }
  .navMobile {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    height: 100vh;
    background-color: white;
    /* background: rgb(230, 230, 230); */
    z-index: 9999;
    flex-direction: column;
    transition: width 0.3s ease-in-out;
    transform: translateX(0);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .linkList {
    display: none;
  }
  .menu {
    display: block;
  }
  .mobileLinkCont {
    display: flex;
    margin-left: 20px;
    /* border-bottom: 1px solid gray; */
    flex-direction: column;
  }

  .mobileLinks {
    border-bottom: 1px solid rgb(201, 193, 193);
    padding: 20px;
  }
  .socials {
    display: flex;
    margin-top: 20px;
  }
  .socialsIcons {
    margin-right: 10px;
    cursor: pointer;
  }
}
