/* NewArivals.module.css */

.container {
  display: flex;
  width: 100%;
  /* align-items: center; */
  justify-content: center;
  margin-top: 20px;

  padding-top: 30px;
  padding-bottom: 30px;
  gap: 30px;

  /* flex-direction: column; */
}

.left {
  display: flex;
  gap: 10px;
  /* flex-direction: row; */
  /* align-items: center; */
}

.galleryContainer img {
  display: flex;
  margin-bottom: 10px;
  max-width: 80px;
  max-height: 100px;
  width: 100%;
  height: 100%;
  object-fit: cover;

  /* margin-bottom: 20px; */
}

.clicked {
  border: 3px solid #008080;
}
.borderTop {
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
  margin-top: 70px;
  padding-top: 20px;
}
.displayContainer {
  /* text-align: center; */
  margin-bottom: 20px;
}
.displayContainer img {
  display: flex;
  max-width: 500px;
  width: 100%; /* Set the desired width */
  height: 500px; /* Set the desired height */
  max-height: 500px;
  background-repeat: repeat;
  object-fit: cover;
}

.right {
  width: 50%;
  padding: 0 20px;
}
.desc h4 {
  padding-bottom: 5px;
  font-size: 14px;
  color: #008080;
  letter-spacing: 3px;
}
.desc h1 {
  padding-bottom: 5px;
  font-size: 25px;
  font-weight: 500;
}
.price {
}
.desc h5 {
  padding-bottom: 20px;
  letter-spacing: 2px;
  color: #272929;
}
.desc {
}
.details {
  border-top: 1px solid gray;
}
.btnCont {
}

.h3 {
  border-top: 1px solid lightgrey;
  margin-top: 10px;
  padding-bottom: 10px;
  color: #252626;
  letter-spacing: 3px;
  margin-bottom: 8px;
  font-size: 13px;
  padding-top: 30px;
}
.materialButtonClicked {
  width: fit-content;
  height: 40px;
  text-align: center;
  color: #414646 !important;
  border: 2px solid #1c1d1d;
  margin-right: 20px;
  padding: 0 20px;
  font-weight: 200;
}
.materialButton {
  width: fit-content;
  height: 40px;
  text-align: center;
  color: #4b5151 !important;
  border: 1px solid #00000020;
  margin-right: 20px;
  padding: 0 20px;
  font-weight: 300;
}

.btnCont button {
  margin-top: 30px;
  border: 1px solid #1c1d1d;
  width: 100%;
  padding: 12px 0;

  background-color: #1c1d1d; /* Default background color */

  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;

  border: 1px solid #000;
  color: #1c1d1d; /* Default background color */
  background-color: #ffffff; /* Text color */
}

.btnCont button:hover {
  background-color: #000; /* New background color on hover */
  border: 1px solid #000;
  color: #ffffff; /* Text color */
}

.star {
  padding-left: 20px !important;
}

@media only screen and (max-width: 990px) {
  .container {
    flex-direction: column;
  }
  .right {
    width: 100%;
  }
  .displayContainer img {
    height: 80vh;
  }
  .desc h1 {
    padding-bottom: 10px;
    font-size: 20px;
  }
  /* .galleryContainer img {
    flex-direction: row-reverse;
  } */
}

@media only screen and (max-width: 718px) {
  .container {
    flex-direction: column;
  }
}

/* Extra Small Devices (portrait phones) */
@media (max-width: 575.98px) {
  /* Styles for extra small devices */
  .left {
    justify-content: center;
  }
  .container {
    flex-direction: column;
  }
  .displayContainer img {
    max-width: 350px;
    width: 100%; /* Set the desired width */
    height: 500px; /* Set the desired height */
    max-height: 500px;
    /* background-repeat: repeat; */
  }
}

@media (min-width: 300px) and (max-width: 400px) {
  .displayContainer img {
    width: 350px;

    height: 400px; /* Set the desired height */
    max-height: 500px;
    /* background-repeat: repeat; */
  }
  .left {
    justify-content: center;
  }
}
@media (min-width: 400px) and (max-width: 576px) {
  .displayContainer img {
    width: 380px;
    height: 400px; /* Set the desired height */
    max-height: 500px;
    /* background-repeat: repeat; */
  }
  .left {
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .left {
    flex-direction: column;
  }
  .displayContainer img {
    /* width: 100%; */
    max-width: 450px;

    height: 400px; /* Set the desired height */
    max-height: 500px;
    margin: auto;
  }

  .galleryContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }
  .galleryContainer img {
    max-width: 100px;
    /* max-height: 100px; */
  }

  .left {
    justify-content: center;
  }
}

/* Small Devices (landscape phones) */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* Styles for small devices */
  .left {
    justify-content: center;
  }
  .container {
    flex-direction: column;
  }
  .displayContainer img {
    max-width: 450px;
    width: 100%; /* Set the desired width */
    height: 500px; /* Set the desired height */
    max-height: 500px;
    /* background-repeat: repeat; */
  }
}

/* Medium Devices (tablets) */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* Styles for medium devices */
  .left {
    justify-content: center;
  }
  .container {
    flex-direction: column;
  }
}

/* Large Devices (desktops) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* Styles for large devices */
  /* Styles for extra large devices */
  .left {
    justify-content: center;
  }

  .displayContainer img {
    max-width: 400px;
    width: 100%; /* Set the desired width */
    height: 500px; /* Set the desired height */
    max-height: 500px;
    /* background-repeat: repeat; */
  }
}

/* Extra Large Devices (large desktops) */
@media (min-width: 1200px) {
  /* Styles for extra large devices */
  .left {
    justify-content: center;
  }

  .displayContainer img {
    max-width: 400px;
    width: 100%; /* Set the desired width */
    height: 500px; /* Set the desired height */
    max-height: 500px;
    /* background-repeat: repeat; */
  }
}
