.carousel {
  padding: 5rem;
}

.box {
  padding-right: 40px;
  height: 150px;
  width: 50px;
}

.box img {
  padding: 1px;
  transition: transform 0.3s ease;
  cursor: pointer;
  display: block;
  height: 200px;
  width: 100px;
}

.box img:hover {
  transform: scale(1.1);
}

.star {
  padding-top: 5px;
  padding-left: 20px;
}

.price {
  padding-top: 5px;
}

.desc {
  padding-top: 5px;
  padding-bottom: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.slick-slide div {
  margin: 0 1rem;
}

button.slick-arrow.slick-next:before {
  top: 70%;
}

/* Add hover effect to arrows */
.slick-prev:hover:before,
.slick-next:hover:before {
  color: gray;
}

.slick-prev:before,
.slick-next:before {
  font-size: 24px;
  color: black;
}

.heading {
  display: flex;
  flex-direction: column;
  line-height: 20px;
  align-items: center;
  padding-bottom: 30px;
}

.slick-slide > div {
  margin: 0 10px;
}

.slick-list {
  margin: 0 -10px;
}

.details {
  margin-bottom: 10px;
}

@media (min-width: 300px) and (max-width: 400px) {
  .box img {
    width: 100%;
    max-width: 300px;
  }

  .box {
    padding-right: 40px;
    /* height: 150px; */
    width: 100px;
  }
}

@media (min-width: 414px) and (max-width: 576px) {
  .box img {
    width: 100%;
    max-width: 200px;
  }
}

/* Small Devices (landscape phones) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .box img {
    width: 100%;
    max-width: 300px;
  }
}

/* Medium Devices (tablets) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .box img {
    width: 100%;
    max-width: 200px;
  }
}

/* Large Devices (desktops) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .box img {
    width: 100%;
    max-width: 200px;
  }
}

/* Extra Large Devices (large desktops) */
@media (min-width: 1200px) {
  .box img {
    width: 100%;
    max-width: 200px;
  }
}
