.container {
  /* padding: 5rem; */
}
.container h1 {
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
.heading h1 {
  font-size: 30px;
}
/* .items {
  width: 100%;
} */
.items img {
  width: 100%;
  height: 100%;
  max-width: 500px;
  max-height: 300px;
  margin-bottom: 15px;
  object-fit: cover;
}
.items img:hover {
  transform: scale(1.1) !important;
}
.cardHeader {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cardHeader .items {
  padding: 16px;
  /* text-align: center; */
  flex-basis: calc(33.33% - 20px); /* For 3 columns on desktop */
  margin-bottom: 20px;
}
.items p {
  font-size: 15px;
  font-weight: 500;
  word-spacing: 0.5px;
  padding-bottom: 7px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.price {
  padding-top: 7px;
}
.viewMore {
  display: flex;
  justify-content: center;
}
@media (max-width: 768px) {
  .cardHeader .items {
    flex-basis: calc(50% - 20px); /* For 2 columns on medium screens */
  }
}

@media (max-width: 480px) {
  .cardHeader .items {
    flex-basis: calc(100% - 20px); /* For 1 column on mobile screens */
  }
}

/* @media screen and (max-width: 500px) {
  .wrapper {
    width: 100%;
  }
}

.swiper-container {
  width: 480px;
}

@media screen and (min-width: 640px) {
  .swiper-container {
    width: 640px;
  }
}

@media screen and (min-width: 768px) {
  .swiper-container {
    width: 768px;
  }
} */
