.container {
  background-color: #000000;
  margin-top: 4rem;
  padding: 1rem;

  /* position: fixed; */
  /* bottom: 0; */
  /* left: 0; */
  width: 100%;
  /* height: 100%; */
  color: white;
}
.wrapper {
  /* position: relative; */
  display: flex;
  justify-content: space-between;
  padding: 50px;

  margin: 50px;
  /* margin: 0 auto; */
  /* text-align: center; */
  /* flex-wrap: wrap; */
  /*   padding: 8px 10px;
 */
}
.footerMenu {
  display: flex;
  flex-direction: column;
}
.info {
  display: flex;
  flex-direction: column;
}
.info h3 {
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 500;
}
.info span {
  margin-bottom: 7px;
  font-size: 12px;
  font-weight: 500;
}
.emailUs h3 {
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 500;
}
.emailUs p {
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 200;
}
.emailUs span {
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: 300;
}
.footerMenuCont h3 {
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 500;
}
.footerMenuCont {
  display: flex;
  flex-direction: column;
}
.footerMenuCont h4 {
  /* color: red; */
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 7px;
}
.emailUs {
  display: flex;
  flex-direction: column;
}
.socialIcons {
  margin-right: 1px;
  justify-content: space-between;
  cursor: pointer;
  display: flex;
}
.socialsIcons {
  margin-right: 5px;
  justify-content: space-between;
  cursor: pointer;
  display: flex;
  /* background-color: red; */
}
.mobileWrapper {
  display: none;
}
.MobileContacts {
  border-bottom: 1px solid white;
  /* margin-bottom: 10px; */
  padding: 20px 0;
}
.popCont {
  border-bottom: 1px solid lightgray;
  /* margin-bottom: 10px; */
  padding: 20px 0;
}
.contactLinks span {
  float: right;
}
.popTitle span {
  float: right;
}
.inputContainer {
  display: flex;
  align-items: center;
  background-color: black;
  /* border-radius: 5px; */
  padding: 10px;
  border: 1px solid lightgray;
  margin-top: 10px;
}
.inputContainer input {
  font-size: 10px;
  font-weight: 500;
}
.mailIcon {
  margin-left: 4px;
  color: #555;
  cursor: pointer;
}
.inputs {
  flex: 1;
  border: none;
  outline: none; /* Remove input outline */
  /* padding: 5px; */
  background-color: transparent;
  padding: 5px;
}
@media screen and (max-width: 770px) {
  .mobileWrapper {
    display: block;
    padding: 20px 20px;
    min-height: 60px;
  }
  .wrapper {
    flex-direction: column;
  }
  .wrapper {
    display: none;
  }
}
