@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: amiri;
}

a {
  color: inherit;
  text-decoration: none;
}
ul,
li {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}

.main {
  margin: 0 auto;
  max-width: 1250px;
  /* border-top: 1px solid red; */
}
